#!/bin/bash
export WILDFLY_HOME={{ wildfly_home }}
nohup /app/wildfly-11.0.0.Final/bin/standalone.sh -b {{ ansible_eth0.ipv4.address }} -bmanagement {{ ansible_eth0.ipv4.address }} -Dserver.mode=server --debug &
#nohup /app/wildfly-11.0.0.Final/bin/standalone.sh -b {{ ansible_eth0.ipv4.address }} -bmanagement {{ ansible_eth0.ipv4.address }} -Dserver.mode=server --server-config={{ wildfly_config_file }} -Djboss.server.config.dir={{ wildfly_config_dir }} --debug &